    
            </section>

            <section class="section row about-padding">
                <div class="about-us-txt col-sm-12 col-md-5 col-lg-5 col-xl-5 flex justify-center-flex align-items-center-flex align-content-center-flex">
                    <!-- TODO: border-bottom: 1px solid #000000  and some padding-below -->
                    <h2>About us</h2>
                    <p class="text-align-justify">
                        Started with a team of 4 passionate young minds, CodeLabs is now a family
                        of 200 developers and designers. All these years, we have followed the
                        vision to deliver amazing user experiences through technology to our clients
                        worldwide.
                    </p>
                </div>
                <div class="about-founder-container col-sm-12 offset-md-1 col-md-5 offset-lg-1 col-lg-5 offset-xl-1 col-xl-5">
                    <div class="founder-image">
                        <img src="images/tanay.png" alt="Our founder: Tanay Shrivastava">
                    </div>
                    <!-- TODO: margin-left: some; margin-top: -some;  background-color: theme-green put some padding more on left and right less on top and bottom -->
                    <div class="about-founder">
                        <h2>Tanay Shrivastava</h2>
                        <p class="text-align-justify">Started with a team of 4 passionate young minds, CodeLabs is now a family of 200
                            developers and designers. All these years, we have followed the vision to deliver
                            amazing user experiences through technology to our clients worldwide. </p>
                        <div class="founder-social-links">
                            <span class="fa fa-facebook-square fa-2x"></span>
                            <span class="fa fa-twitter-square fa-2x"></span>
                            <span class="fa fa-linkedin-square fa-2x"></span>
                            <span class="fa fa-instagram fa-2x"></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>